include README* LICENSE*
recursive-include sagenb_export *.py
recursive-include sagenb_export/nbextension *.html
recursive-include sagenb_export/nbextension/www *
recursive-exclude sagenb_export /#*.py .\#*.py *~
