include README* LICENSE*
recursive-include sagenb_export *.py
recursive-include sagenb_export/nbextenison *.html
recursive-include sagenb_export/nbextenison/www *
recursive-exclude sagenb_export /#*.py .\#*.py *~
