* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 128px;
}

.header h1 {
    flex: 8 1 0;
    margin: auto;
}

.header img {
    flex: 2 0 0;
    margin: auto;
    height: 64px;
}

.warn {
    width: 60%;
    margin: auto;
    border: 2px solid #ff7f7f;
    background: #ffdddd;
    border-radius: 10px;
    padding: 1em 3em;
}

.warn a {
    padding-top: 1em;
    display: block;
    text-align: center;
}

.old {
    padding: 0 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.old pre {
    font-size: 130%;
    text-align: center;
}


.ellipsis {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nb-row.nb-header {
    font-weight: bold;
    text-align: center;
    background-color: #7f7f7f !important;
    color: #ffffff;
}


.nb-row {
    display: flex;
    flex-direction: row;
    line-height: 48px;
    white-space: nowrap;
}

.nb-row:nth-child(even) {
    background: #FFF;
}

.nb-row:nth-child(odd) {
    background: #eee;
}

.nb-row.clickable:hover {
    background: #aaaaff;
    cursor: pointer;
}

.nb-id {
    padding: 0 1em 0 2em;
    display: flex;
    flex: 1 0 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.nb-name {
    padding: 0 2em 0 1em;
    display: flex;
    flex: 8 1 0;
}
